<div class="container">
    <div class="shortcut">
        <div class="row">
            <div class="col-md-12">
                <h2>المنتجات</h2>
            </div>
            <div class="col-md-4">
                <a routerLink="/add_product" class="btn btn-default btn-sm">اضافة منتج جديد</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/view_products" class="btn btn-default btn-sm">عرض المنتجات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/haraka_sanf" class="btn btn-default btn-sm">كرت حركة الصنف</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/wahdat_elasnaf" class="btn btn-default btn-sm">وحدات الاصناف</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/group_elasnaf" class="btn btn-default btn-sm">مجموعات الاصناف</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/depart_elasnaf" class="btn btn-default btn-sm">اقسام الاصناف</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/min_products" class="btn btn-default btn-sm">الحد الادنى للمنتجات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/generate_baecode" class="btn btn-default btn-sm">طباعة الباركود</a>
            </div>
        </div>
    </div>
</div>