<div class="purchase_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addFatora(formdata.value)" >
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>فاتورة مشتريات</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="right">
                    <fieldset>
                        <legend>بيانات الفاتورة</legend>
                        <label for="fname">فاتورة رقم</label>
                        <input type="text" class="form-control" name="inv_no" formControlName="inv_no" value="{{this.lastId}}" readonly>
                        <label for="lname">المورد</label>
                        <select (change)="getSupplier($event)" class="form-control" name="supplier_id" formControlName="supplier_id" value="{{supp_id}}">
                            <option value=""></option>
                            <option *ngFor="let s of supplierList" value="{{s.sup_no}}">{{s.sup_name}}</option>
                        </select>
                        <label for="email">رقم فاتورة المورد</label>
                        <input type="email" class="form-control" name="supplier_inv_no" formControlName="supplier_inv_no">
                        <label for="email">اختر المخزن</label>
                        <select (change)="getInventory($event)" class="form-control" name="inventory_id" formControlName="inventory_id">
                            <option value=""></option>
                            <option *ngFor="let i of inventoryList" value="{{i.invent_id}}">{{i.invent_name}}</option>
                        </select>
                        <label for="email">عدد الاصناف</label>
                        <input type="email" class="form-control" name="quantity" formControlName="quantity">
                        <label for="email">الاجمالى قبل الضريبة</label>
                        <input type="email" class="form-control" name="total_cost" formControlName="total_cost">
                        <label for="email">الضريبة</label>
                        <input type="email" class="form-control" name="taxable" formControlName="taxable">
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>بيانات الدفع</legend>
                        <select name="" id="" class="form-control" name="payment_type" formControlName="payment_type">
                            <option value="pay_cash">دفع كاش</option>
                            <option value="pay_check">دفع شيك</option>
                        </select>
                        <hr>
                        <select name="" id="" class="form-control" name="supplier_type" formControlName="supplier_type">
                            <option value="sup_agel">مورد اجل</option>
                            <option value="sup_cash">مورد نقدى</option>
                        </select>
                        <label for="birthday">تاريخ الاستحقاق</label>
                        <input type="date" class="form-control" name="due_date" formControlName="due_date"><br>
                        <input type="submit" class="form-control btn btn-danger" value="حفظ الفاتورة">
                    </fieldset>
                </div>
            </div>

            <div class="col-md-9">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top">
                                <div class="row">
                                    <div class="col-md-9">
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                    <div class="form-check mb-2">
                                                        <label class="form-check-label" for="autoSizingCheck">
                                                        بحث عن المنتج
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <mat-form-field>
                                                        <input type="text" [(ngModel)]="matValue"
                                                        matInput 
                                                        [formControl]="searchTerm" 
                                                        [matAutocomplete]="auto">
                                                        <mat-placeholder class="placeholder">ابحث باسم المنتج</mat-placeholder>
                                                        <mat-autocomplete #auto="matAutocomplete">
                                                            <mat-option *ngFor="let prod of productList" [value]="prod.product_id">
                                                                {{ prod.product_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <div class="col-auto">
                                                <button type="button" (click)="searchProduct(searchTerm.value)" class="btn btn-primary mb-2">اضافة</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-auto">
                                            <button type="button" (click)="deleteUnit()" class="btn btn-danger mb-2">حذف المحدد</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        
                        <div class="col-md-12">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">الكود</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">سعر الوحدة</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">الاجمالى</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of tableList;">
                                        <th scope="row">
                                            <input type="checkbox" name="cb" value="{{t.product_id}}" class="form-check-input cb">
                                        </th>
                                        <td><input type="text" class="form-control" name="product_id" formControlName="product_id" value="{{t.product_id}}" readonly></td>
                                        <td><input type="text" class="form-control" value="{{t.product_name}}" disabled></td>
                                        <td><input type="text" class="form-control" name="product_unit_price" formControlName="product_unit_price"></td>
                                        <td><input type="text" class="form-control" name="product_quantity" formControlName="product_quantity"></td>
                                        <td><input type="text" class="form-control" name="product_total_cost" formControlName="product_total_cost"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>