<div class="employee">
    <form [formGroup] = "formdata" (ngSubmit) = "addExpenses(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>انواع المصروفات</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-block">اضافة</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-auto">
                                    <button type="button" (click)="deleteExpenses()" class="btn btn-danger btn-block">حذف المحدد</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cartt">
                                    <fieldset class="the-fieldset">
                                        <legend class="the-legend">بيانات المصروف</legend>
                                        <div class="frm">
                                            <div class="form-group row text-right">
                                                <label class="col-sm-3 col-form-label">رقم المصروف</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" name="expId" formControlName="expId" value="{{ lastId + 1 }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row text-right">
                                                <label class="col-sm-3 col-form-label">اسم المصروف</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" name="expName" formControlName="expName">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cartt">
                                    <fieldset class="the-fieldset">
                                        <legend class="the-legend">بيانات المصروفات</legend>
                                        <div class="frm1">
                                            <table class="table table-dark">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">رقم المصروف</th>
                                                    <th scope="col">اسم المصروف</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let exp of expensesTypesList">
                                                        <th scope="row">
                                                            <input type="checkbox" name="cb" value="{{exp.exp_id}}" class="form-check-input cb">
                                                            <input type="hidden" name="checkedValue" value="{{exp.exp_id}}">
                                                        </th>
                                                        <td>{{exp.exp_id}}</td>
                                                        <td>{{exp.exp_name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>