<div class="purchase_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "returnSelected(formdata.value)" >
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>مرتجعات المشتريات</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="right">
                    
                    <fieldset>
                        <legend>
                            <div class="row">
                                <div class="col-md-10"><label class="form-check-label" for="exampleCheck1">ارجاع الفاتورة بالكامل</label></div>
                            </div>
                        </legend>
                        <br>
                        <input type="button" (click)="returnAll()" class="form-control btn btn-danger" value="ارجاع الفاتورة بالكامل">
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>
                            <div class="row">
                                <div class="col-md-10"><label class="form-check-label" for="exampleCheck1">ارجاع الكمية المحددة</label></div>
                            </div>
                        </legend>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="radio" (change)="onItemChange($event)" value="full_selected" class="form-check-input" name="selected" formControlName="selected">
                            </div>
                            <div class="col-md-10"><label class="form-check-label" for="exampleCheck1">ارجاع الكمية المحددة بالكامل</label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="radio" (change)="onItemChange($event)" value="part_selected" class="form-check-input" name="selected" formControlName="selected">
                            </div>
                            <div class="col-md-6"><label class="form-check-label" for="exampleCheck1">جزء من المحدد</label></div>
                            <div class="col-md-4"><input type="number" id="mySelect" class="form-control" formControlName="part" name="part"></div>
                        </div>
                        <br>
                        <input type="submit" class="form-control btn btn-danger" value="ارجاع الصنف المحدد">
                    </fieldset>
                </div>
            </div>
    
            <div class="col-md-9">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                    <div class="form-check mb-2">
                                                        <label class="form-check-label" for="autoSizingCheck">
                                                        بحث برقم الفاتورة
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <mat-form-field>
                                                        <input type="text" [(ngModel)]="matValue"
                                                        matInput 
                                                        [formControl]="searchTerm" 
                                                        [matAutocomplete]="auto">
                                                        <mat-placeholder class="placeholder">ابحث باسم المنتج</mat-placeholder>
                                                        <mat-autocomplete #auto="matAutocomplete">
                                                            <mat-option *ngFor="let prod of productList" [value]="prod.product_id">
                                                                {{ prod.product_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <div class="col-auto">
                                                <button type="button" (click)="searchProduct(searchTerm.value)" class="btn btn-primary mb-2">بحث</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                            <hr>
                        </div>
                        
                        <div class="col-md-12">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">الكود</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">سعر الوحدة</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">الاجمالى</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let t of productSearchResult;">
                                        <th scope="row">
                                            <input type="checkbox" name="cb" value="{{t.product_id}}" class="form-check-input cb">
                                        </th>
                                        <td><input type="text" class="form-control" name="inv_no" value="{{t.inv_no}}" readonly></td>
                                        <td><input type="text" class="form-control" value="{{t.product_name}}" readonly></td>
                                        <td><input type="text" class="form-control" name="product_unit_price" value="{{t.product_unit_price}}" readonly></td>
                                        <td><input type="text" class="form-control" name="product_quantity" value="{{t.product_quantity - t.returned_quantity}}" readonly></td>
                                        <td><input type="text" class="form-control" name="product_total_cost" value="{{t.product_total_cost}}" readonly></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </form>
</div>