<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addSupplier(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>ادارة الموردين</h2>
                    </div>
                </div>

                <div class="col-md-12">
                        <div class="top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <mat-form-field>
                                                    <input type="text"
                                                    matInput 
                                                    [formControl]="searchTerm" 
                                                    [matAutocomplete]="auto">
                                                    <mat-placeholder class="placeholder">ابحث باسم المورد</mat-placeholder>
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option *ngFor="let supp of supplierList" [value]="supp.sup_no">
                                                            {{ supp.sup_name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-auto">
                                            <button type="button" (click)="searchSupplier(searchTerm.value)" class="btn btn-primary">بحث</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" [disabled]="disabledAdd" class="btn btn-success ml-3">اضافة</button>
                                        <button type="button" [disabled]="disabledNew" (click)="addNew()" class="btn btn-secondary ml-3">جديد</button>
                                        <button type="button" [disabled]="disabledEdit" (click)="update(formdata.value)" class="btn btn-warning ml-3">حفظ</button>
                                        <button type="button" [disabled]="disabledDelete" (click)="delete()" class="btn btn-danger ml-3">مسح</button>
                                    </div>
                                </div>
                        </div>
                        <hr>
                </div>

                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات الموردين</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="fname">رقم المورد</label>
                                    <input type="text" class="form-control" name="supplierId" formControlName="supplierId" value="{{ lastId + 1 }}" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">اسم المورد</label>
                                    <input type="text" class="form-control" (input)="onSupplierName($event)" name="supplierName" formControlName="supplierName" value="{{suppName}}">
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">اسم المسئول</label>
                                    <input type="text" class="form-control" (input)="onSupplierAdmin($event)" name="supplierAdmin" formControlName="supplierAdmin" value="{{suppAdmin}}">
                                </div>
                                <div class="col-md-3">
                                    <label for="email">رقم الضريبى</label>
                                    <input type="text" class="form-control" (input)="onSupplierTax($event)" name="supplierTax" formControlName="supplierTax" value="{{suppTax}}">
                                </div>
                                <div class="col-md-3">
                                    <label for="email">رقم التليفون</label>
                                    <input type="text" class="form-control" (input)="onSupplierPhone($event)" name="supplierPhone" formControlName="supplierPhone" value="{{suppPhone}}">
                                </div>
                                <div class="col-md-3">
                                    <label for="email">العنوان</label>
                                    <input type="text" class="form-control" (input)="onSupplierAddress($event)" name="supplierAddress" formControlName="supplierAddress" value="{{suppAddress}}">
                                </div>
                                <div class="col-md-3">
                                    <label for="email">ملاحظات</label>
                                    <input type="text" class="form-control" (input)="onSupplierNotes($event)" name="supplierNotes" formControlName="supplierNotes" value="{{suppNotes}}">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>