<div class="transfers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>التحويل بين المخازن</h2>
                </div>
            </div>

            <div class="col-md-6 border">
                <div class="title1">
                    <h3>المخزن المحول منه</h3>
                </div>
                <div class="inv_from container border">
                    <div class="form-group">
                        <label for="exampleInputEmail1">المنتج</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">اسم المخزن المحول منه</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">الكمية</label>
                        <input type="number" class="form-control">
                    </div>
                    <hr><hr>
                    <div class="title1">
                        <h3>المخزن المحول له</h3>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">اسم المخزن المحول له</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border">
                <div class="title1">
                    <h3>بيانات العملية</h3>
                </div>
                <div class="inv_from container border">
                    <div class="form-group">
                        <label for="exampleInputEmail1">سعر الشراء</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">سعر البيع</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">التاريخ</label>
                        <input type="date" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="exampleInputPassword1">المسئول عن التحويل</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">الاسباب</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="button" class="btn btn-success btn-block" value="اتمام العملية">
            </div>
            

        </div>
    </div>
</div>