<div class="purchase_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addOffer(formdata.value)" >
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>عرض سعر جديد</h2>
                </div>
            </div>
            <div class="col-md-2">
                <div class="right">
                    <fieldset>
                        <legend>بيانات العرض</legend>
                        <label>عرض رقم</label>
                        <input type="text" class="form-control" name="offer_no" value="{{this.lastId}}" readonly>
                        <label>عدد الاصناف</label>
                        <input type="text" class="form-control" name="quantity" formControlName="quantity">
                        <label>اجمالى المطلوب</label>
                        <input type="text" class="form-control" name="total_amount" formControlName="total_amount">
                    </fieldset>
                    <hr>
                    <fieldset>
                        <label>اختر العميل</label>
                        <mat-form-field>
                            <input type="text" [(ngModel)]="matValue1" style="background-color: cadetblue;"
                            matInput 
                            [formControl]="searchTermCustomer" 
                            [matAutocomplete]="auto1">
                            <mat-placeholder class="placeholder">ابحث باسم العميل</mat-placeholder>
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let cust of customerList" [value]="cust.cust_no">
                                    {{ cust.cust_name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <br>
                        <input type="submit" class="form-control btn btn-danger" value="حفظ الفاتورة">
                    </fieldset>
                </div>
            </div>

            <div class="col-md-10">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top">
                                <div class="row">
                                    <div class="col-md-9">
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                    <div class="form-check mb-2">
                                                        <label class="form-check-label" for="autoSizingCheck">
                                                        بحث عن المنتج
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <mat-form-field>
                                                        <input type="text" [(ngModel)]="matValue" style="background-color: cadetblue;"
                                                        matInput 
                                                        [formControl]="searchTerm" 
                                                        [matAutocomplete]="auto">
                                                        <mat-placeholder class="placeholder">ابحث باسم المنتج</mat-placeholder>
                                                        <mat-autocomplete #auto="matAutocomplete">
                                                            <mat-option *ngFor="let prod of productList" [value]="prod.product_id">
                                                                {{ prod.product_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <div class="col-auto">
                                                <button type="button" (click)="searchProduct(searchTerm.value)" class="btn btn-primary mb-2">اضافة</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-auto">
                                            <button type="button" (click)="deleteUnit()" class="btn btn-danger mb-2">حذف المحدد</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        
                        <div class="col-md-12">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">الكود</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">سعر الوحدة</th>
                                    <th scope="col">الاجمالى</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let t of tableList;">
                                        <th scope="row">
                                            <input type="checkbox" name="cb" value="{{t.product_id}}" class="form-check-input cb">
                                        </th>
                                        <td><input type="text" class="form-control" name="product_id" value="{{t.product_id}}" readonly></td>
                                        <td><input type="text" class="form-control" value="{{t.product_name}}" disabled></td>
                                        <td><input type="text" class="form-control" name="product_quantity" formControlName="product_quantity"></td>
                                        <td><input type="text" class="form-control" name="product_unit_price" formControlName="product_unit_price"></td>
                                        <td><input type="text" class="form-control" name="product_total_cost" formControlName="product_total_cost"></td>
                                        <input type="hidden" class="form-control" name="invent_id" value="{{t.invent_id}}">
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>