<div class="container">
    <div class="shortcut">
        <div class="row">
            <div class="col-md-12">
                <h2>روابط هامة</h2>
            </div>
            
            <div class="col-md-4">
                <a href="/add_customer" class="btn btn-default btn-sm">اضافة عميل جديد</a>
            </div>
            <div class="col-md-4">
                <a href="/add_offer" class="btn btn-default btn-sm">اضافة عرض سعر</a>
            </div>
            <div class="col-md-4">
                <a href="/offers" class="btn btn-default btn-sm">عروض الاسعار</a>
            </div>
            <div class="col-md-4">
                <a href="/sales" class="btn btn-default btn-sm">اضافة فاتورة جديدة</a>
            </div>
            <div class="col-md-4">
                <a href="/sand_abd" class="btn btn-default btn-sm">استلام نقدية</a>
            </div>
            <div class="col-md-4">
                <a href="/add_purchase_invoice" class="btn btn-default btn-sm">طلب شراء جديد</a>
            </div>
            <div class="col-md-4">
                <a href="/masrof_sand_taxt" class="btn btn-default btn-sm">مصروف جديد</a>
            </div>
            <div class="col-md-4">
                <a href="/treasury_bank_credit" class="btn btn-default btn-sm">الرصيد الحالى(خزنة:بنك)</a>
            </div>
            <div class="col-md-4">
                <a href="/employee_salary" class="btn btn-default btn-sm">صرف مرتبات</a>
            </div>
            <div class="col-md-4">
                <a href="/suppliers_agel_remain" class="btn btn-default btn-sm">حسابات الموردين</a>
            </div>
            <div class="col-md-4">
                <a href="/suppliers_mosdad" class="btn btn-default btn-sm">المبالغ المسددة للموردين</a>
            </div>
            <div class="col-md-4">
                <a href="/customers_agel_remain" class="btn btn-default btn-sm">حسابات العملاء</a>
            </div>
            <div class="col-md-4">
                <a href="/customers_mosdad" class="btn btn-default btn-sm">المبالغ المسددة من العملاء</a>
            </div>
        </div>
    </div>
</div>