<div class="container">
    <div class="shortcut">
        <div class="row">
            <div class="col-md-12">
                <h2>المبيعات</h2>
            </div>
            <div class="col-md-4">
                <a routerLink="/ezn_sarf" class="btn btn-default btn-sm">اذن صرف جديد</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/invoice" class="btn btn-default btn-sm">فاتورة مبيعات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/sales_report" class="btn btn-default btn-sm">تقارير فواتير المبيعات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/sales_return" class="btn btn-default btn-sm">مرتجعات فواتير المبيعات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/sales_return_report" class="btn btn-default btn-sm">تقارير مرتجعات المبيعات</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/sales_arbah_report" class="btn btn-default btn-sm">تقارير ارباح المبيعات</a>
            </div>
        </div>
    </div>
</div>
