<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addTreasuryBankTransform(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>تحويلات نقدية بين الخزن والبنوك</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات التحويل</legend>
                            <div class="row border">
                                <div class="col-md-4 border">
                                    <label for="fname">اختر نوع التحويل</label>
                                    <select name="trans_type" formControlName="trans_type" class="form-control">
                                        <option value="-3">تحويل من الخزنة للبنك</option>
                                        <option value="3">تحويل من البنك للخزنة</option>
                                    </select>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="fname">اختر الخزنة</label>
                                    <select (change)="myTreasury($event)" name="treasury_id" formControlName="treasury_id" class="form-control">
                                        <option value=""></option>
                                        <option *ngFor="let t of treasuryList" value="{{t.treasury_id}}">{{t.treasury_name}}</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> {{totalTreasury}}</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">اختر البنك</label>
                                    <select (change)="myBank($event)" name="bank_id" formControlName="bank_id" class="form-control">
                                        <option value=""></option>
                                        <option *ngFor="let t of bankList" value="{{t.bank_id}}">{{t.bank_name}}</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> {{totalBank}}</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المبلغ المراد تحويله</label>
                                    <input type="text" class="form-control" name="amount" formControlName="amount">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المسئول عن التحويل</label>
                                    <input type="text" class="form-control" name="trans_admin" formControlName="trans_admin">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">تاريخ التحويل</label>
                                    <input type="date" class="form-control" name="trans_date" formControlName="trans_date">
                                </div>
                                <div class="col-md-12 border">
                                    <label for="lname">سبب التحويل</label>
                                    <input type="text" class="form-control" name="reason" formControlName="reason">
                                </div>
                                <div class="col-md-12 border">
                                    <button type="submit" class="btn btn-success btn-block ml-3">اضافة</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>