<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addTreasuryTransform(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>تحويلات نقدية بين الخزن</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات التحويل</legend>
                            <div class="row border">
                                <div class="col-md-4 border">
                                    <label for="fname">تحويل من خزنة</label>
                                    <select (change)="myTreasuryFrom($event)" name="treasury_from_id" formControlName="treasury_from_id" class="form-control">
                                        <option value=""></option>
                                        <option *ngFor="let t of treasuryList" value="{{t.treasury_id}}">{{t.treasury_name}}</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> {{totalFrom}}</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">تحويل الى خزنة</label>
                                    <select (change)="myTreasuryTo($event)" name="treasury_to_id" formControlName="treasury_to_id" class="form-control">
                                        <option value=""></option>
                                        <option *ngFor="let t of treasuryList" value="{{t.treasury_id}}">{{t.treasury_name}}</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> {{totalTo}}</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المبلغ المراد تحويله</label>
                                    <input type="text" name="amount" formControlName="amount" class="form-control">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المسئول عن التحويل</label>
                                    <input type="text" name="trans_admin" formControlName="trans_admin" class="form-control">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">تاريخ التحويل</label>
                                    <input type="date" name="trans_date" formControlName="trans_date" class="form-control">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">سبب التحويل</label>
                                    <input type="text" name="reason" formControlName="reason" class="form-control">
                                </div>
                                <div class="col-md-12 border">
                                    <button type="submit" class="btn btn-success btn-block ml-3">اضافة</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>