<div class="add_screen">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>تحويلات نقدية بين الخزن</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات التحويل</legend>
                            <div class="row border">
                                <div class="col-md-4 border">
                                    <label for="fname">تحويل من خزنة</label>
                                    <select name="" id="" class="form-control">
                                        <option value="">خزنة1</option>
                                        <option value="">خزنة2</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> 1000</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">تحويل الى خزنة</label>
                                    <select name="" id="" class="form-control">
                                        <option value="">خزنة1</option>
                                        <option value="">خزنة2</option>
                                    </select>
                                    <small class="alert-danger"><b>الرصيد: </b> 1000</small>
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المبلغ المراد تحويله</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">المسئول عن التحويل</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">تاريخ التحويل</label>
                                    <input type="date" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4 border">
                                    <label for="lname">سبب التحويل</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>