<div class="add_product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>منتج جديد</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="frm border">
                                <div class="form-group">
                                    <label for="fname">رقم المنتج</label>
                                    <input type="text" class="form-control" id="fname" name="fname" value="1" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="fname">اسم المنتج</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">المجموعة</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">الوحدة</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">القسم</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">حد الطلب</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="frm border">
                                <div class="form-group">
                                    <label for="fname">بارت نمبر</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">سعر الشراء</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">سعر البيع</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">الوصف</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">ملاحظات</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="fname">خاضع للضريبة</label><br>
                                            <input type="checkbox" class="form-check-input" id="fname" name="fname">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="fname">اصلى</label><br>
                                            <input type="checkbox" class="form-check-input" id="fname" name="fname">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="fname">كوبى</label><br>
                                            <input type="checkbox" class="form-check-input" id="fname" name="fname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="frm border-top">
                                <div class="subtitle">
                                    <h4>الكميات الموجودة بالمخازن-رصيد اول فترة</h4>
                                </div>
                                <div class="form-group">
                                    <label for="fname">المخزن</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label for="fname">الكمية</label>
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="button" class="btn btn-danger btn-block" value="حفظ المنتج">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>