<div class="purchase_screen">
        <div class="row">
            <!--Title-->
            <div class="col-md-12">
                <div class="title">
                    <h2>مرتجعات المبيعات</h2>
                </div>
            </div>
            <!--Top section-->
            <div class="col-md-12">
                <div class="top">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row border-left">
                                <div class="col-md-6"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div>
                                <div class="col-md-6"><label class="form-check-label" for="exampleCheck1">رقم الفاتورة</label></div>
                                <div class="col-md-12"><input type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row border-left">
                                <div class="col-md-6"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div>
                                <div class="col-md-6"><label class="form-check-label" for="exampleCheck1">تاريخ الفاتورة</label></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <label class="input-group-text" for="inputGroupSelect01">من</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <label class="input-group-text" for="inputGroupSelect01">الى</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-secondary btn-block">بحث</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Report Info-->
            <div class="col-md-12">
                <div class="container">
                        <div class="tbl">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">الفواتير مفصلة</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn btn-primary btn-sm mr-3" id="contact-tab" type="button">طباعة التقرير</button>
                                </li>
                            </ul>
                    
                    
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="all">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">الكود</th>
                                                <th scope="col">العميل</th>
                                                <th scope="col">المنتج</th>
                                                <th scope="col">الكمية</th>
                                                <th scope="col">الضريبة</th>
                                                <th scope="col">س ب.ض</th>
                                                <th scope="col">الخصم</th>
                                                <th scope="col">اجمالى</th>
                                                <th scope="col">المدفوع</th>
                                                <th scope="col">المتبقى</th>
                                                <th scope="col">التاريخ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <th scope="row"><input type="checkbox"></th>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                <td>@mdo</td>
                                                </tr>
                                                <tr>
                                                <th scope="row"><input type="checkbox"></th>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                </tr>
                                                <tr>
                                                <th scope="row"><input type="checkbox"></th>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@twitter</td>
                                                </tr>
                                                <tr>
                                                <th scope="row"><input type="checkbox"></th>
                                                <th scope="row">4</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@twitter</td>
                                                </tr>
                                                <tr>
                                                <th scope="row"><input type="checkbox"></th>
                                                <th scope="row">5</th>
                                                <td>Larry</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                                <td>@twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                        </nav>
                                        <div class="summary">
                                            <div class="row">
                                                <div class="col-md-3 border">
                                                    <b>اجمالى المبيعات: </b><span>52155</span><hr>
                                                    <b>اجمالى الضرائب: </b><span>52155</span><hr>
                                                    <b>اجمالى بعد الضرائب: </b><span>52155</span><hr>
                                                    <b>المبلغ المدفوع: </b><span>52155</span><hr>
                                                    <b>المبلغ المتبقى: </b><span>52155</span>
                                                </div>
                                                <div class="col-md-6 border">
                                                    <div class="row">
                                                        <div class="col-md-5"><span><input type="radio"></span><b>ارجاع الكمية المحددة بالكامل</b></div>
                                                        <div class="col-md-7"><span><input type="radio"></span><b>ارجاع جزء من المحدد: </b> <span><input type="number"></span></div>
                                                    </div>
                                                    <hr>
                                                    <b>اسم العميل: </b><span><input type="text"></span><hr>
                                                    <b>الى المخزن: </b><span><input type="text"></span><hr>
                                                    <input type="button" class="btn btn-primary" value="ارجاع الصنف المحدد">
                                                </div>
                                                <div class="col-md-3 border">
                                                        <div class="row">
                                                            <div class="col-md-12"><span><input type="radio"></span><b>ارجاع الكمية الفاتورة بالكامل</b></div>
                                                        </div>
                                                        <hr>
                                                        <b>اسم العميل: </b><span><input type="text"></span><hr>
                                                        <b>الى المخزن: </b><span><input type="text"></span><hr>
                                                        <input type="button" class="btn btn-primary" value="ارجاع الفاتورة بالكامل">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>