<div class="container">
        <div class="shortcut">
            <div class="row">
                <div class="col-md-12">
                    <h2>الادارة</h2>
                </div>
                <div class="col-md-4">
                    <a routerLink="/users" class="btn btn-default btn-sm">المستخدمين</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/privileges" class="btn btn-default btn-sm">الصلاحيات</a>
                </div>
            </div>
        </div>
    </div>