<div class="container">
    <div class="shortcut">
        <div class="row">
            <div class="col-md-12">
                <h2>شئون الموظفين</h2>
            </div>
            <div class="col-md-4" *ngIf="groupScreensList[43].isShow==1">
                <a routerLink="/add_employee" class="btn btn-default btn-sm">موظف جديد</a>
            </div>
            <div class="col-md-4" *ngIf="groupScreensList[44].isShow==1">
                <a routerLink="/employee_salary" class="btn btn-default btn-sm">صرف مرتبات الموضفين</a>
            </div>
            <div class="col-md-4" *ngIf="groupScreensList[45].isShow==1">
                <a routerLink="/add_solfa" class="btn btn-default btn-sm">تسجيل سلفة</a>
            </div>
            <div class="col-md-4" *ngIf="groupScreensList[46].isShow==1">
                <a routerLink="/penalties" class="btn btn-default btn-sm">الجزاءات والاستقطاعات</a>
            </div>
            <div class="col-md-4" *ngIf="groupScreensList[42].isShow==1">
                <div class="dropdown show dropright">
                    <a class="btn btn-default btn-sm dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        التقارير
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" routerLink="/salaries_report">تقرير المرتبات</a>
                        <a class="dropdown-item" routerLink="/solfa_report">تقرير السلف</a>
                        <a class="dropdown-item" routerLink="/penalties_report">تقرير الجزاءات و الاستقطاعات</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>