<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addBankWithdrawal(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>سحب رصيد بنك</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                        <div class="top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">اختر البنك</label>
                                        <div class="col-sm-8">
                                            <select (change)="myBank($event)" name="bank_id" formControlName="bank_id" class="form-control">
                                                <option value=""></option>
                                                <option *ngFor="let t of bankList" value="{{t.bank_id}}">{{t.bank_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>رصيد البنك الحالى: <b>{{total}}</b></h4>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success ml-3">سحب</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات السحب</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="fname">المبلغ المراد سحبه</label>
                                    <input type="number" class="form-control" name="withdrawal_amount" formControlName="withdrawal_amount">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">تاريخ السحب</label>
                                    <input type="date" class="form-control" name="withdrawal_date" formControlName="withdrawal_date">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">اسم الساحب</label>
                                    <input type="text" class="form-control" name="withdrawer" formControlName="withdrawer">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">سبب السحب</label>
                                    <input type="text" class="form-control" name="withdrawal_reason" formControlName="withdrawal_reason">
                                </div>
                                <input type="hidden" class="form-control" name="withdrawal_type" formControlName="withdrawal_type">
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>