<div class="purchase_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "gardSearch(formdata.value)" >
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>كمية الاصناف بالمخازن</h2>
                </div>
            </div>
            <div class="col-md-2">
                <div class="right">
                    <fieldset>
                        <legend>حسب المخزن</legend>
                        <input type="radio" (change)="onItemChange($event)" checked value="all" class="form-check-input" name="inventory" formControlName="inventory">
                        <label class=" mr-3">كل المخازن</label><br>
                        <input type="radio" (change)="onItemChange($event)" value="one" class="form-check-input" name="inventory" formControlName="inventory">
                        <label class=" mr-3">مخزن محدد</label><br>
                        <select class="form-control" name="inventoryId" formControlName="inventoryId">
                            <option value=""></option>
                            <option *ngFor="let i of invList" value="{{i.invent_id}}">{{i.invent_name}}</option>
                        </select>
                    </fieldset>
                    <hr>
                    <input type="submit" class="btn btn-primary btn-block" value="بحث">
                    <input type="button" class="btn btn-success btn-block" value="طباعة">
                </div>
            </div>
    
            <div class="col-md-10">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">الكود</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">المخزن</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">سعر شراء</th>
                                    <th scope="col">سعر بيع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of gardList | paginate: config; let i=index;">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.id}}</td>
                                        <td>{{item.product_name}}</td>
                                        <td>{{item.invent_name}}</td>
                                        <td>{{item.product_quantity}}</td>
                                        <td>{{item.purchase_price}}</td>
                                        <td>{{item.sell_price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </form>
</div>