<div class="purchase_screen">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>كمية الاصناف بالمخازن</h2>
                </div>
            </div>
            <div class="col-md-2">
                <div class="right">
                    <fieldset>
                        <legend>حسب المخزن</legend>
                        <input type="radio">
                        <label for="fname">كل المخازن</label><br>
                        <input type="radio">
                        <label for="email">مخزن محدد</label><br>
                        <select class="form-control">
                            <option value="">المخزن الرئيسى</option>
                            <option value="">المخزن الفرعى</option>
                        </select>
                    </fieldset>
                    <hr>
                    <input type="button" class="btn btn-success btn-block" value="طباعة">
                </div>
            </div>
    
            <div class="col-md-10">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">الكود</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">المخزن</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">سعر شراء</th>
                                    <th scope="col">سعر بيع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>4454</td>
                                        <td>منتج 1</td>
                                        <td>المخزن الرئيسى</td>
                                        <td>100</td>
                                        <td>100</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>4454</td>
                                        <td>منتج 1</td>
                                        <td>المخزن الرئيسى</td>
                                        <td>100</td>
                                        <td>100</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>4454</td>
                                        <td>منتج 1</td>
                                        <td>المخزن الرئيسى</td>
                                        <td>100</td>
                                        <td>100</td>
                                        <td>120</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>