<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addCustomer(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>ادارة العملاء</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                        <div class="top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <mat-form-field>
                                                    <input type="text"
                                                    matInput 
                                                    [formControl]="searchTerm" 
                                                    [matAutocomplete]="auto">
                                                    <mat-placeholder class="placeholder">ابحث باسم العميل</mat-placeholder>
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option *ngFor="let cust of customerList" [value]="cust.cust_no">
                                                            {{ cust.cust_name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-auto">
                                            <button type="button" (click)="searchCustomer(searchTerm.value)" class="btn btn-primary">بحث</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" [disabled]="disabledAdd" class="btn btn-success ml-3">اضافة</button>
                                        <button type="button" [disabled]="disabledNew" (click)="addNew()" class="btn btn-secondary ml-3">جديد</button>
                                        <button type="button" [disabled]="disabledEdit" (click)="update(formdata.value)" class="btn btn-warning ml-3">حفظ</button>
                                        <button type="button" [disabled]="disabledDelete" (click)="delete()" class="btn btn-danger ml-3">مسح</button>
                                    </div>
                                </div>
                        </div>
                        <hr>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                                <legend>بيانات العملاء</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="fname">رقم العميل</label>
                                        <input type="text" class="form-control" name="customerId" value="{{ lastId + 1 }}" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="lname">اسم العميل</label>
                                        <input type="text" class="form-control" (input)="onCustomerName($event)" name="customerName" formControlName="customerName" value="{{custName}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="lname">اسم المسئول</label>
                                        <input type="text" class="form-control" (input)="onCustomerAdmin($event)" name="customerAdmin" formControlName="customerAdmin" value="{{custAdmin}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="email">رقم التليفون</label>
                                        <input type="text" class="form-control" (input)="onCustomerPhone($event)" name="customerPhone" formControlName="customerPhone" value="{{custPhone}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="email">العنوان</label>
                                        <input type="text" class="form-control" (input)="onCustomerAddress($event)" name="customerAddress" formControlName="customerAddress" value="{{custAddress}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="email">ملاحظات</label>
                                        <input type="text" class="form-control" (input)="onCustomerNotes($event)" name="customerNotes" formControlName="customerNotes" value="{{custNotes}}">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="email">رصيد اول فترة</label>
                                        <input type="text" class="form-control" (input)="onFirstBalance($event)" name="firstBalance" formControlName="firstBalance" value="{{first_balance}}">
                                    </div>
                                </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>