<div class="add_screen">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>ادارة العملاء</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                        <div class="top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                <input type="text" class="form-control" id="inlineFormInput" placeholder="ابحث باسم العميل">
                                                </div>
                                                
                                                <div class="col-auto">
                                                <button type="submit" class="btn btn-primary">بحث</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-success ml-3">اضافة</button>
                                        <button type="button" class="btn btn-secondary ml-3">جديد</button>
                                        <button type="button" class="btn btn-warning ml-3">حفظ</button>
                                        <button type="button" class="btn btn-danger ml-3">مسح</button>
                                    </div>
                                </div>
                        </div>
                        <hr>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات العملاء</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="fname">رقم العميل</label>
                                    <input type="text" class="form-control" id="fname" name="fname" value="1" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">اسم العميل</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">اسم المسئول</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4">
                                    <label for="email">رقم التليفون</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="col-md-4">
                                    <label for="email">العنوان</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="col-md-4">
                                    <label for="email">ملاحظات</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>