<div class="topbar">
    <div class="toggle">
      <i class="fas fa-bars"></i>
    </div>
    <!--search-->
    <div class="search">
      <label>
        <input type="text" placeholder="يمكنك البحث هنا">
        <i class="fas fa-search"></i>
      </label>
    </div>
    <!--userimage-->
    <div class="user">
      <span>إسلام عبدالوارث</span>
    </div>
    <!--
    <div class="user">
      <img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=30" alt="">
    </div>
    -->
  </div>
  <hr>