<div class="navigation">
    <ul>
      <li>
        <a href="#">
          <img class="logo" src="../../../assets/Layer 2.png" alt="">
        </a>
      </li>
      <li>
        <a routerLink="/dashboard">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="title">الرئيسية</span>
        </a>
      </li>

      <li>
        <a routerLink="/sales">
          <span class="icon"><i class="fas fa-sack-dollar"></i></span>
          <span class="title">المبيعات</span>
        </a>
      </li>

      <li>
        <a routerLink="/purchases">
          <span class="icon"><i class="fas fa-shopping-cart"></i></span>
          <span class="title">المشتريات</span>
        </a>
      </li>

      <li>
        <a routerLink="/suppliers">
          <span class="icon"><i class="fab fa-supple"></i></span>
          <span class="title">الموردين</span>
        </a>
      </li>
      
      
      <li>
        <a routerLink="/customers">
          <span class="icon"><i class="fas fa-people-arrows"></i></span>
          <span class="title">العملاء</span>
        </a>
      </li>

      <li>
        <a routerLink="/products">
          <span class="icon"><i class="fab fa-product-hunt"></i></span>
          <span class="title">المنتجات</span>
        </a>
      </li>

      <li>
        <a routerLink="/treasury_bank">
          <span class="icon"><i class="fa-solid fa-vault"></i></span>
          <span class="title">الخزنة والبنك</span>
        </a>
      </li>

      
      <li>
        <a routerLink="/hr">
          <span class="icon"><i class="fa-solid fa-people-carry-box"></i></span>
          <span class="title">شئون الموظفين</span>
        </a>
      </li>

      <li>
        <a routerLink="/inventory">
          <span class="icon"><i class="fas fa-warehouse"></i></span>
          <span class="title">المخازن</span>
        </a>
      </li>

      <li>
        <a routerLink="/masrof_sand_taxt">
          <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
          <span class="title">المصروفات و الضرائب و السندات</span>
        </a>
      </li>
<!--
      <li>
        <a routerLink="/general_accounts">
          <span class="icon"><i class="fa-solid fa-file-contract"></i></span>
          <span class="title">الحسابات العامة</span>
        </a>
      </li>

      <li>
        <a routerLink="/reports">
          <span class="icon"><i class="fa-solid fa-file"></i></span>
          <span class="title">التقارير</span>
        </a>
      </li>
-->
      <li>
        <a routerLink="/manage">
          <span class="icon"><i class="fas fa-user-cog"></i></span>
          <span class="title">الادارة</span>
        </a>
      </li>
      
      <li>
        <a href="javascript:void();" (click)="logout()">
          <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
          <span class="title">تسجيل الخروج</span>
        </a>
      </li>
    </ul>
  </div>