<div class="container">
    <div class="shortcut">
        <div class="row">
            <div class="col-md-12">
                <h2>الموردين</h2>
            </div>
            <div class="col-md-4">
                <a routerLink="/add_supplier" class="btn btn-default btn-sm">اضافة مورد جديد</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/suppliers_report" class="btn btn-default btn-sm">بيانات الموردين</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/suppliers_agel_remain" class="btn btn-default btn-sm">حسابات الموردين-أجل</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/suppliers_mosdad" class="btn btn-default btn-sm">تقرير الموردين-المسدد لهم</a>
            </div>
        </div>
    </div>
</div>