<div class="purchase_screen">
        <div class="row">
            <!--Title-->
            <div class="col-md-12">
                <div class="title">
                    <h2>المبالغ المتبقية على العملاء - اجل</h2>
                </div>
            </div>
            <!--Top section-->
            <div class="col-md-12">
                <div class="top">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1"><input type="radio" class="form-check-input" id="exampleCheck1"></div>
                                <div class="col-md-2"><label class="form-check-label" for="exampleCheck1">كل العملاء</label></div>
                                <div class="col-md-1"><input type="radio" class="form-check-input" id="exampleCheck1"></div>
                                <div class="col-md-2"><label class="form-check-label" for="exampleCheck1">عميل محدد</label></div>
                                <div class="col-md-4"><input type="text" class="form-control" id="exampleCheck1"></div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-secondary btn-block">بحث</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Report Info-->
            <div class="col-md-12">
                <div class="container">
                    <div class="tbl">
                            <div class="all">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">الكود</th>
                                        <th scope="col">العميل</th>
                                        <th scope="col">المبلغ المستحق</th>
                                        <th scope="col">تاريخ الفاتورة</th>
                                        <th scope="col">تاريخ الاستحقاق</th>
                                        <th scope="col">نوع الفاتورة</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <th scope="row"><input type="checkbox"></th>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                        </tr>
                                        <tr>
                                        <th scope="row"><input type="checkbox"></th>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        </tr>
                                        <tr>
                                        <th scope="row"><input type="checkbox"></th>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        </tr>
                                        <tr>
                                        <th scope="row"><input type="checkbox"></th>
                                        <th scope="row">4</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        </tr>
                                        <tr>
                                        <th scope="row"><input type="checkbox"></th>
                                        <th scope="row">5</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                                <div class="summary">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input type="radio" class="form-check-input" id="exampleCheck1">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-check-label" for="exampleCheck1">تسديد المبلغ كامل</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="radio" class="form-check-input" id="exampleCheck1">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-check-label" for="exampleCheck1">تسديد جزء منه</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="number" class="form-control" id="exampleCheck1">
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" class="btn btn-secondary btn-block" id="exampleCheck1" value="تسديد المحدد">
                                        </div>
                                        <div class="col-md-3">
                                            <b>اجمالى المبلغ: 15158</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>