<div class="purchase_screen">
        <div class="row">
            <!--Title-->
            <div class="col-md-12">
                <div class="title">
                    <h2>المبالغ المسددة للموردين</h2>
                </div>
            </div>
            <!--Top section-->
            <div class="col-md-12">
                <div class="top">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-form-field>
                                <input type="text" [(ngModel)]="matValue" style="background-color: cadetblue;"
                                matInput 
                                [formControl]="searchTerm" 
                                [matAutocomplete]="auto">
                                <mat-placeholder class="placeholder">ابحث باسم المورد</mat-placeholder>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let prod of supplierList" [value]="prod.sup_no">
                                        {{ prod.sup_name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <button type="button" (click)="searchSupplier(searchTerm.value)" class="btn btn-secondary btn-block">بحث</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Report Info-->
            <div class="col-md-12">
                <div class="container">
                    <div class="tbl">
                            <div class="all">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">الكود</th>
                                        <th scope="col">المورد</th>
                                        <th scope="col">المبلغ</th>
                                        <th scope="col">تاريخ الفاتورة</th>
                                        <th scope="col">تاريخ الاستحقاق</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of productSearchResult | paginate: config;let i=index;">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.sup_name}}</td>
                                        <td>{{item.amount * -1}}</td>
                                        <td>{{item.inv_date | date}}</td>
                                        <td>{{item.due_date | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                                <div class="container">
                                    <div class="row text-right">
                                        <div class="col-md-6">
                                            <span>اجمالى المبالغ المتبقية: {{remainTotal}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>