<div class="container">
        <div class="shortcut">
            <div class="row">
                <div class="col-md-12">
                    <h2>المصروفات والضرائب والسندات</h2>
                </div>
                <div class="col-md-4">
                    <a routerLink="/add_masrof" class="btn btn-default btn-sm">انواع المصروفات</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/manage_masrof" class="btn btn-default btn-sm">ادارة المصروفات</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/masrof_report" class="btn btn-default btn-sm">تقارير المصروفات</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/sand_abd" class="btn btn-default btn-sm">سند قبض شيكات</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/sand_abd_cash" class="btn btn-default btn-sm">سند قبض نقدى</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/sand_srf" class="btn btn-default btn-sm">سند صرف شيكات</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/sand_srf_cash" class="btn btn-default btn-sm">سند صرف نقدى</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/tax_report" class="btn btn-default btn-sm">الاقرار الضريبى</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/srf_abd_report" class="btn btn-default btn-sm">تقرير سندات القبض</a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/srf_abd_report1" class="btn btn-default btn-sm">تقرير سندات الصرف</a>
                </div>
            </div>
        </div>
    </div>