<div class="treasury_bank">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>الارصدة الحالية للخزن والبنوك</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content row m-3">
                    <div class="col-md-6 border">
                        <h3 class="text-center">الخزن</h3>
                        <label for="fname">اختر الخزنة</label>
                        <select (change)="myTreasury($event)" name="treasury_id" formControlName="treasury_id" class="form-control">
                            <option value=""></option>
                            <option *ngFor="let t of treasuryList" value="{{t.treasury_id}}">{{t.treasury_name}}</option>
                        </select>
                        <hr>
                        <div class="border p-3">
                            <span>رصيد الخزنة المحددة: </span><b>{{totalTreasury}}</b>
                        </div>
                        <hr>
                        <div class="p-3">
                            <a routerLink="/deposit_treasury" class="btn btn-primary">ايداع رصيد خزنة</a>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <h3 class="text-center">البنوك</h3>
                        <label for="fname">اختر البنك</label>
                        <select (change)="myBank($event)" name="bank_id" formControlName="bank_id" class="form-control">
                            <option value=""></option>
                            <option *ngFor="let t of bankList" value="{{t.bank_id}}">{{t.bank_name}}</option>
                        </select>
                        <hr>
                        <div class="border p-3">
                            <span>رصيد البنك المحدد: </span><b>{{totalBank}}</b>
                        </div>
                        <hr>
                        <div class="p-3">
                            <a routerLink="/deposit_bank" class="btn btn-primary">ايداع رصيد بنك</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>