<div class="treasury_bank">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>الارصدة الحالية للخزن والبنوك</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content row m-3">
                    <div class="col-md-6 border">
                        <h3 class="text-center">الخزن</h3>
                        <label for="fname">اختر الخزنة</label>
                        <select name="" id="" class="form-control">
                            <option value="">خزنة1</option>
                            <option value="">خزنة2</option>
                        </select>
                        <hr>
                        <div class="border p-3">
                            <span>رصيد الخزنة المحددة: </span><b>12000</b>
                        </div>
                        <hr>
                        <div class="p-3">
                            <a routerLink="/deposit_treasury" class="btn btn-primary">ايداع رصيد خزنة</a>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <h3 class="text-center">البنوك</h3>
                        <label for="fname">اختر البنك</label>
                        <select name="" id="" class="form-control">
                            <option value="">بنك1</option>
                            <option value="">بنك2</option>
                        </select>
                        <hr>
                        <div class="border p-3">
                            <span>رصيد البنك المحدد: </span><b>150000</b>
                        </div>
                        <hr>
                        <div class="p-3">
                            <a routerLink="/deposit_bank" class="btn btn-primary">ايداع رصيد بنك</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>