<div class="add_screen">
    <form [formGroup] = "formdata" (ngSubmit) = "addTreasuryDeposit(formdata.value)" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>ايداع رصيد خزنة</h2>
                    </div>
                </div>

                <div class="col-md-12">
                        <div class="top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">اختر خزنة</label>
                                        <div class="col-sm-8">
                                            <select (change)="myTreasury($event)" name="treasury_id" formControlName="treasury_id" class="form-control">
                                                <option value=""></option>
                                                <option *ngFor="let t of treasuryList" value="{{t.treasury_id}}">{{t.treasury_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>رصيد الخزنة الحالى: <b>{{total}}</b></h4>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success ml-3">اضافة</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                </div>

                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات الايداع</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="fname">اضافة رصيد جديد</label>
                                    <input type="number" class="form-control" name="deposit_amount" formControlName="deposit_amount">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">تاريخ الايداع</label>
                                    <input type="date" class="form-control" name="deposit_date" formControlName="deposit_date">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">اسم المودع</label>
                                    <input type="text" class="form-control" name="depositor" formControlName="depositor">
                                </div>
                                <div class="col-md-3">
                                    <label for="lname">سبب الايداع</label>
                                    <input type="text" class="form-control" name="deposit_reason" formControlName="deposit_reason">
                                </div>
                                <input type="hidden" class="form-control" name="deposit_type" formControlName="deposit_type">
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>

                <div class="col-md-12">
                    <div class="title">
                        <h2>اخر حركات ايداع الخزنة</h2>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">المبلغ</th>
                                        <th scope="col">تاريخ العملية</th>
                                        <th scope="col">المسئول عن الايداع</th>
                                        <th scope="col">السبب</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of lastDeposits; let i=index;">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.deposit_amount}}</td>
                                            <td>{{item.deposit_date | date}}</td>
                                            <td>{{item.depositor}}</td>
                                            <td>{{item.deposit_reason}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>