<div class="add_screen">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>اضافة مخزن</h2>
                    </div>
                </div>
    
                <div class="col-md-12">
                        <div class="top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                <input type="text" class="form-control" id="inlineFormInput" placeholder="ابحث باسم المخزن">
                                                </div>
                                                
                                                <div class="col-auto">
                                                <button type="submit" class="btn btn-primary">بحث</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-success ml-3">اضافة</button>
                                        <button type="button" class="btn btn-secondary ml-3">جديد</button>
                                        <button type="button" class="btn btn-warning ml-3">حفظ</button>
                                        <button type="button" class="btn btn-danger ml-3">مسح</button>
                                    </div>
                                </div>
                        </div>
                        <hr>
                </div>
    
                <div class="col-md-12">
                    <div class="content">
                        <fieldset>
                            <legend>بيانات المخزن</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="fname">رقم المخزن</label>
                                    <input type="text" class="form-control" id="fname" name="fname" value="1" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">اسم المخزن</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                                <div class="col-md-4">
                                    <label for="lname">ملاحظات</label>
                                    <input type="text" class="form-control" id="lname" name="lname">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>